健保局

<div class="row">
  <div class="col-md-12">
    <ba-card title="健保給付試算" baCardClass="with-scroll">
      <pre>
        123
      </pre>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ba-card title="藥品回收試算" baCardClass="with-scroll">
      <pre>
        ## 健保收支情形 line chart
        ## 藥品追蹤情形 (藥商 醫院/藥局 用藥人)
      </pre>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ba-card title="健保小金庫" baCardClass="with-scroll">
      <pre>
        123
      </pre>
    </ba-card>
  </div>
</div>

