藥局


<div class="row">
  <div class="col-md-12">
    <ba-card title="配/領藥 (讀卡)" baCardClass="with-scroll">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-responsive" src="assets/img/health-card.png" alt="">
          <img class="img-responsive" src="assets/img/national-health-insurance.png" alt="">

        </div>
      </div>

      <pre>
        ## 領藥處方籤 1 ... N (配藥 即時試算)
        ### 出帳對象/健保局 藥品核銷費用$$$/服務費用$$$/月累積結算$$$
      </pre>
    </ba-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <ba-card title="回收藥" baCardClass="with-scroll">
      <pre>
        123
      </pre>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ba-card title="累積結算" baCardClass="with-scroll">
      <pre>
        123
      </pre>
    </ba-card>
  </div>
</div>
