用藥人


<pre>
# 基本資料欄
</pre>

<div class="row">
  <div class="col-md-12">
    <ba-card title="電子錢包付費" baCardClass="with-scroll">
      <pre>
        ### 領藥處方籤
        ### 健保給付額 $$$
        ### 保險負擔額 $$$
        ### 自負給付額 $$$
        ### 支付（出帳 轉出費用 ＄ 誰出帳 入帳給誰）
      </pre>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ba-card title="電子錢包付費" baCardClass="with-scroll">
      <pre>
        ### 領藥處方籤
        ### 健保給付額 $$$
        ### 保險負擔額 $$$
        ### 自負給付額 $$$
        ### 支付（出帳 轉出費用 ＄ 誰出帳 入帳給誰）
      </pre>
    </ba-card>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <ba-card title="我的歷史處方箋" baCardClass="with-scroll">
      123
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ba-card title="我的領藥紀錄" baCardClass="with-scroll">
      <pre>
        ## 我的領藥紀錄
        ### 電子錢包訊息
        ### 領藥處方籤
        ### 領藥/未領藥 (跳轉到藥局)
      </pre>
    </ba-card>
  </div>
</div>
