<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ba-card>
      <div class="steps">
        <ul class="steps-container">
          <li *ngFor="let item of progressBar; let i = index;" [ngClass]="{ 'activated': i<progressStep }" style="width: 20%;">
            <div class="step">
              <div class="step-image"><span></span></div>
              <h2>{{ item.title }}</h2>
              <span>{{ item.content }}</span>
            </div>
          </li>
        </ul>
        <div [style.width.%]="20*progressStep" class="step-bar"></div>
      </div>
    </ba-card>
  </div>
</div>
<!-- 抽獎 https://www.classtools.net/random-name-picker/17_h5DiFV -->
<iframe src="https://www.classtools.net/random-name-picker/17_h5DiFV" style="position:relative;top:0;left:0;width:675px;height:600px;overflow:none;border:none"></iframe>

<div class="widgets">
  <div class="row">
    <div class="col-md-6">
      <!--SVG圖-->
      <ba-card title="SVG圖" baCardClass="with-scroll">
        <div class="row clearfix">
          <div class="kameleon-row" *ngFor="let icon of streamlineIcons">
            <div class="kameleon-icon"><img src="{{ icon.path }}"><span>{{ icon.name }}</span></div>
          </div>
        </div>
      </ba-card>
    </div>

    <div class="col-md-6">
      <!--共識節點狀態-->
      <ba-card title="共識節點狀態" baCardClass="with-scroll">
        <div class="row">
          <div class="col-md-4">
            <loader [state]="'loading'" [title]="'測試節點1'"></loader>
          </div>
          <div class="col-md-4">
            <loader [state]="'success'" [title]="'測試節點2'"></loader>
          </div>
          <div class="col-md-4">
            <loader [state]="'error'" [title]="'測試節點3'"></loader>
          </div>
        </div>
      </ba-card>
    </div>

    <div class="col-md-6">
      <!--Typeahead-->
      <ba-card title="Typeahead" baCardClass="with-scroll">
        <label for="typeahead-basic">Search for a state:</label>
        <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
        <hr>
        <pre>Model: {{ model | json }}</pre>
      </ba-card>
    </div>

    <!--calendar 日曆-->
    <ba-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12" title="我的領藥紀錄" baCardClass="xmedium-card feed-comply-panel with-scroll calendar-panel">
      <calendar></calendar>
    </ba-card>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-12">
      <!--我的錢包-->
      <!--<ba-card baCardClass="popular-app medium-card">-->
      <ba-card baCardClass="popular-app">
        <popular-app [currentRole]="currentRole"></popular-app>
      </ba-card>
    </div>
    <!-- 處方箋 / 藥物回收 對應 日曆? -->
    <div class="col-lg-8 col-md-12">
      <ba-card title="處方箋 / 藥物回收" baCardClass="with-scroll table-panel">
        <condensed-table></condensed-table>
      </ba-card>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <pie-chart></pie-chart>
  </div>

  <div class="col-lg-12 col-sm-12 col-12">
    <ba-card baCardClass="banner-column-panel">
      <div class="banner">
        <div class="large-banner-wrapper">
          <!-- ngb-carousel -->
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of carouselImages">
              <img class="carousel-img" src="{{ image }}" alt="Random first slide">
            </ng-template>
          </ngb-carousel>

          <div class="carousel-caption banner-text-wrapper">
            <div class="banner-text">
              <img class="nhi-img" src="assets/img/national-health-insurance.png" alt="">
              <h1>行政院衛生署中央健康保險局</h1>
              <p>Bureau of National Health Insurance,</p>
              <p>Department of Health, Executive Yuan</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <h2>健保收支情形</h2>
        <line-chart></line-chart>
        <!--<ba-card class="col-xlg-8 col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12"
            title="健保收支情形" baCardClass="medium-card">
            <line-chart></line-chart>
          </ba-card>-->

      </div>
      <!--<div class="section">
          <h2>Columns</h2>

          <div class="row">
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo03.png' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>Vel elit, eros elementum, id lacinia, duis non ut ut tortor blandit. Mauris <a
                href>dapibus</a> magna rutrum. Ornare neque suspendisse <a
                href>phasellus wisi</a>, quam cras pede rutrum suspendisse, <a
                href>felis amet eu</a>. Congue magna elit quisque quia, nullam justo sagittis,
                ante erat libero placerat, proin condimentum consectetuer lacus. Velit condimentum velit, sed
                penatibus
                arcu nulla.</p>
            </div>
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo01.png' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>Et suspendisse, adipiscing fringilla ornare sit ligula sed, vel nam. Interdum et justo nulla,
                fermentum
                lobortis purus ut eu, duis nibh dolor massa tristique elementum, nibh iste potenti risus fusce
                aliquet
                fusce, ullamcorper debitis primis arcu tellus vestibulum ac.</p>
            </div>
          </div>

          <div class="separator"></div>

          <div class="row">
            <div class="col-sm-4">
              <h4>Column heading example</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo04.png' | baAppPicture ) }}" alt=""/></div>
              <p>Eget augue, lacus erat ante egestas scelerisque aliquam, metus molestie leo in habitasse magna
                maecenas</p>
              <a href class="learn-more">Learn more</a>
            </div>
            <div class="col-sm-4">
              <h4>Yet another column heading example</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo05.png' | baAppPicture ) }}" alt=""/></div>
              <p>Augue massa et parturient, suspendisse orci nec scelerisque sit, integer nam mauris pede consequat
                in
                velit</p>
              <a href class="learn-more">Learn more</a>
            </div>
            <div class="col-sm-4">
              <h4>Third column heading example</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo06.png' | baAppPicture ) }}" alt=""/></div>
              <p>Eget turpis, tortor lobortis porttitor, vestibulum nullam vehicula aliquam</p>
              <a href class="learn-more">Learn more</a>
            </div>
          </div>
          <div class="separator"></div>
        </div>-->

    </ba-card>
  </div>
</div>

<!--<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <pie-chart></pie-chart>
  </div>
</div>-->

<!--<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                     title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
    <traffic-chart></traffic-chart>
  </ba-card>

  <ba-card class="col-xlg-8 col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12"
            title="健保收支情形" baCardClass="medium-card">
    <line-chart></line-chart>
  </ba-card>

  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
           title="dashboard.users_by_country" baCardClass="medium-card">
    <users-map></users-map>
  </ba-card>
</div>-->

<!--<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-12">
    <div class="row">
      <ba-card class="col-xlg-8 col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12"
               title="dashboard.revenue" baCardClass="medium-card">
        <line-chart></line-chart>
      </ba-card>
      <ba-card class="col-xlg-4 col-xl-12 col-lg-12 col-md-5 col-sm-12 col-12"
               baCardClass="popular-app medium-card">
        <popular-app></popular-app>
      </ba-card>
    </div>
  </div>

  <div class="col-xlg-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <ba-card title="dashboard.feed"
             baCardClass="large-card with-scroll feed-panel">
      <feed></feed>
    </ba-card>
  </div>

</div>-->

<!--<div class="row">
  <ba-card class="col-xlg-3 col-lg-6 col-md-12 col-sm-12 col-12" title="我的歷史處方箋"
           baCardClass="xmedium-card feed-comply-panel with-scroll todo-panel">
    <todo></todo>
  </ba-card>
  <ba-card class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12" title="我的領藥紀錄"
           baCardClass="xmedium-card feed-comply-panel with-scroll calendar-panel">
    <calendar></calendar>
  </ba-card>
</div>-->

<!--<div class="row">
  <div class="col-lg-6 col-md-12">
    <ba-card title="Condensed Table" baCardClass="with-scroll table-panel">
      <condensed-table [tableData]="peopleTableData"></condensed-table>
    </ba-card>
  </div>
  <div class="col-lg-6 col-md-12">
    <ba-card title="Contextual Table" baCardClass="with-scroll table-panel">
      <contextual-table></contextual-table>
    </ba-card>
  </div>
</div>-->
